.footer
{
    position: relative;
    z-index: 1;
    background-color: #6C7575;
    padding: 25px 0px;
}

.container-footer
{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

.info-footer
{
    display: flex;
    justify-content: space-between;
}

.text-footer
{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
    margin: 0px;
}